---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<div class="entries-{{ entries_layout }}">
  {% assign entries = site[page.collection] %}

  {% if page.sort_by %}
    {% assign entries = entries | sort: page.sort_by %}
  {% endif %}

  {% if page.sort_order == 'reverse' %}
    {% assign entries = entries | reverse %}
  {% endif %}

  <ul>
    {%- for post in entries -%}
      {%- unless post.hidden -%}
        <li>
            <div class="black">{{post.title}}</div>
            <ul>
              {%- for detail in post.details -%}
                <li class="smaller-font">{{ detail }}</li>
              {%- endfor -%}
            </ul>
            {% if post.link %}
              <button type="button" onclick="window.open('{{ post.link }}','_blank')" class="btn btn--inverse">Github</button>
            {% endif %}
        </li>
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</div> 